# Flutter / Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-deps
.packages
.pub-cache/
.pub/
.idea/
.vscode/
.flutter-plugins
android/.gradle/
android/.idea/
*.iml

# iOS
ios/Pods/
ios/.generated/
Pods/

# VS Code
.vscode/

# Python venv
venv/
.env
__pycache__/
*.pyc

# Mac/Windows files
.DS_Store
Thumbs.db

# Node / npm
node_modules/

# Logs
logs/
*.log
